<div class="col-md-3">
  <h1>マイページ</h1>
<table class = "table">
  <tbody>
    <tr>
      <th> 氏名 </th>
      <th> <%= @customer.last_name %>
           <%= @customer.first_name %>
           </th>
    </tr>
<tr>
  <th> introduction</th>
  <th> <%= user.introduction %></th>
</tr>
</tbody>
</table>