<body>
  <div class = "container">
    <div class = "row">
    <p>ようこそ、NaganoCakeへ！</p>
    <p>このサイトは、ケーキ販売のECサイトになります。</p>
    <p>会員でない方も商品の閲覧はできますが、</p>
    <p>購入には会員登録が必要です。</p>
    <p> <%=  link_to "会員登録はこちらから",  new_customer_registration_path %></p>
</body>